#sidebar_toggle {
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 30%;
  background-color: #000;
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0px;
  margin: 30px;
  cursor: pointer;
  transition-duration: 0.3s;
}

#sidebar_toggle div {
  position: relative;
  width: 100%;
  height: 100%;
}

#sidebar_toggle span {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  width: 50%;
  height: 1px;
  background-color: #fff;
  transform-origin: 0% 0%;
}

#sidebar_toggle span:nth-child(1) {
  transform: rotate(0deg) translateY(-420%) translateX(-50%);
}

#sidebar_toggle span:nth-child(2) {
  transform: rotate(0deg) translateY(-50%) translateX(-50%);
}

#sidebar_toggle span:nth-child(3) {
  transform: rotate(0deg) translateY(330%) translateX(-50%);
}

.deployed #sidebar_toggle span:nth-child(1) {
  transform: rotate(45deg) translateY(-50%) translateX(-50%);
}

.deployed #sidebar_toggle span:nth-child(2) {
  transform: rotate(45deg) translateY(-50%) translateX(-50%);
}

.deployed #sidebar_toggle span:nth-child(3) {
  transform: rotate(-45deg) translateY(-50%) translateX(-50%);
}

.deployed #sidebar_toggle {
  left: calc(40vw - 70px);
}

#sidebar {
  height: 100%;
  transition-duration: 0.3s;
  opacity: 0;
  padding: 0 50px 0 30px;
}

#sidebar_container {
  position: relative;
  overflow-y: scroll;
  width: 0%;
  transition-duration: 0.3s;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.deployed #sidebar_container {
  width: 40%;
}

.deployed #sidebar {
  opacity: 1;
}

input {
  display: block;
  width: 100%;
  margin: 30px 0;
  outline: none;
  border: 1px solid #dfdfdf;
  padding: 12px 10px;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.input_text_wrapper {
  position: relative;
}

.input_text_wrapper span {
  position: absolute;
  transition-duration: 0.3s;
  top: 14px;
  left: 15px;
  font-size: 1rem;
  pointer-events: none;
}

.input_text_wrapper input:valid + span,
.input_text_wrapper input:focus + span {
  position: absolute;
  top: -15px;
  left: 15px;
  font-size: 0.8rem;
}

.info {
  color: #dfdfdf;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.info_row {
  width: 49%;
}

.info_row:last-of-type {
  border-left: 1px solid #dfdfdf;
  padding: 0 0 0 15px;
  margin: 0 0 0 15px;
}

.toggle_container {
  display: flex;
  margin: 25px 0;
}

.toggle_container > span {
  color: #686868;
}

.toggle_container[data-checked="false"] + .textarea_wrapper {
  opacity: 0.3;
}

.toggle_container[data-checked="false"] .toggle_value_container > span {
  color: #dfdfdf;
}

.toggle_container > span {
  color: #686868;
}

.toggle_value_container {
  padding-top: 5px;
  width: 100%;
}

.textarea_wrapper {
  position: relative;
  transition-duration: 0.6s;
  opacity: 1;
  margin: 2px 0;
}

#format_json {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: #000;
  padding: 4px;
  cursor: pointer;
  border-radius: 0px 5px 0px 0px;
  z-index: 2;
  border: 1px solid #686868;
}

.toggle_container[data-checked="false"] + .textarea_wrapper {
  opacity: 0.3;
}

.toggle_container[data-checked="false"] .toggle_value_container > span {
  color: #dfdfdf;
}

.toggle_container > span {
  color: #686868;
}

.toggle_value_container {
  padding-top: 6px;
  width: 100%;
}

textarea {
  font-family: monospace;
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 100%;
  resize: none;
  padding: 10px 0;
  border-radius: 5px;
  border-width: 0px;
  border: 1px solid #dfdfdf;
}

textarea:focus-visible {
  outline: none;
}

textarea.invalid {
  color: #e06c6e;
}

#iframe_container {
  width: 100%;
  height: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

iframe {
  display: block;
  width: 300px;
  height: 80vh;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.deployed #iframe_container {
  width: 60%;
}

#controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 0 0;
}

.button {
  width: 100px;
  margin-left: 10px;
  transition-duration: 0.3s;
  border: 1px solid #dfdfdf;
  text-align: center;
  padding: 16px 0;
  cursor: pointer;
  border-radius: 5px;
  background-color: #f1f1f1;
  color: #686868;
}

.button:hover {
  color: #000;
  background-color: #fff;
}

.switch {
  position: relative;
  display: inline-block;
  min-width: 45px;
  height: 27px;
  margin: 0 33px 0 0px;
}

.switch input {
  margin: 0;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f1f1f1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #dfdfdf;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 3px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #686868;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (max-device-width: 768px) {
  #sidebar_container,
  #sidebar_toggle {
    display: none;
  }

  #iframe_container {
    width: 100% !important;
    display: block;
  }

  #iframe_container iframe {
    width: 100%;
    height: 100vh;
    border-radius: 0px;
  }
}

body {
  min-height: 100vh;
  overflow: hidden;
  background-color: #f1f1f1;
  font-family: "ProximaNovaCond", arial;
  color: #686868;
}

#container {
  display: flex;
  height: 100vh;
}
