@import "partials/variables.scss";
@import "partials/sidebar.scss";
@import "partials/form.scss";
@import "partials/iframe.scss";
@import "partials/buttons.scss";
@import "partials/responsive.scss";
@import "normalize.css";

body {
  min-height: 100vh;
  overflow: hidden;
  background-color: $mainBG;
  font-family: "ProximaNovaCond", arial;
  color: $text;
}

#container {
  display: flex;
  height: 100vh;
}
