#controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 0 0;
}
.button {
  width: 100px;
  margin-left: 10px;
  transition-duration: 0.3s;
  border: 1px solid $border;
  text-align: center;
  padding: 16px 0;
  cursor: pointer;
  border-radius: 5px;
  background-color: $mainBG;
  color: $text;
  &:hover {
    color: #000000;
    background-color: #ffffff;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  min-width: 45px;
  height: 27px;
  margin: 0 33px 0 0px;
}

/* Hide default HTML checkbox */
.switch input {
  margin: 0;
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $mainBG;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid $border;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 3px;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $text;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*End Toggle*/
