@import "variables.scss";

input {
  display: block;
  width: 100%;
  margin: 30px 0;
  outline: none;
  border: 1px solid $border;
  padding: 12px 10px;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.input_text_wrapper {
  position: relative;
}
.input_text_wrapper span {
  position: absolute;
  transition-duration: 0.3s;
  top: 14px;
  left: 15px;
  font-size: 1rem;
  pointer-events: none;
}
.input_text_wrapper input:valid + span,
.input_text_wrapper input:focus + span {
  position: absolute;
  top: -15px;
  left: 15px;
  font-size: 0.8rem;
}

.info {
  color: $border;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.info_row {
  width: 49%;
  &:last-of-type {
    border-left: 1px solid $border;
    padding: 0 0 0 15px;
    margin: 0 0 0 15px;
  }
}

.toggle_container {
  display: flex;
  margin: 25px 0;
}
.toggle_container > span {
  color: $text;
}

.toggle_container[data-checked="false"] + .textarea_wrapper {
  opacity: 0.3;
}

.toggle_container[data-checked="false"] .toggle_value_container > span {
  color: $border;
}
.toggle_container > span {
  color: $text;
}
.toggle_value_container {
  padding-top: 5px;
  width: 100%;
}

/*Textaera*/
.textarea_wrapper {
  position: relative;
  transition-duration: 0.6s;
  opacity: 1;
  margin: 2px 0;
}
#format_json {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: #000000;
  padding: 4px;
  cursor: pointer;
  border-radius: 0px 5px 0px 0px;
  z-index: 2;
  border: 1px solid #686868;
}
.toggle_container[data-checked="false"] + .textarea_wrapper {
  opacity: 0.3;
}

.toggle_container[data-checked="false"] .toggle_value_container > span {
  color: $border;
}
.toggle_container > span {
  color: $text;
}
.toggle_value_container {
  padding-top: 6px;
  width: 100%;
}
textarea {
  font-family: monospace;
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 100%;
  resize: none;
  padding: 10px 0;
  border-radius: 5px;
  border-width: 0px;
  border: 1px solid $border;
}
textarea:focus-visible {
  outline: none;
}
textarea.invalid {
  color: $invalidJson;
}
